fastapi
uvicorn
# git+https://gitlab.teadal.ubiwhere.com/teadal-tech/asg-runtime.git
# git+git@gitlab.teadal.ubiwhere.com:teadal-tech/asg-runtime.git
git+ssh://git@gitlab.teadal.ubiwhere.com/teadal-tech/asg-runtime.git
